/* src/css/Sidebar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.question-info {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* 示例图片部分 */
.example-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.example-images {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.example-images img {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  /* 添加平滑的放大效果 */
}

.example-images img:hover {
  transform: scale(2.0);
  /* 鼠标经过时放大 1.2 倍 */
}

/* 题目部分 */
.question-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

/* 修改选项图片的大小，确保统一 */
.option img {
  width: 150px;
  /* 固定图片宽度 */
  height: 150px;
  /* 固定图片高度 */
  object-fit: cover;
  /* 保持图片内容在框内，不会失真 */
  border: 2px solid #ccc;
  /* 为图片添加边框 */
  border-radius: 5px;
  /* 圆角样式 */
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(33, 152, 242) 0%, rgb(106, 14, 255) 100%);
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2,
p {
  font-family: var(--h-primary-font-family);
  background: linear-gradient(180deg, rgb(33, 152, 242) 0%, rgb(106, 14, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 添加分数显示部分的样式 */
.score-section {
  margin-top: 20px;
  /* 在提交按钮下方显示分数 */
  font-size: 20px;
  /* 设置分数的字体大小 */
  font-weight: bold;
  /* 加粗分数字体 */
  color: #ff9900;
  /* 使用橙色显示分数 */
}