/* src/css/Header.css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 0px;
  width: 100%;
  position: relative;
}

.main {
  display: flex;
  align-items: center; 
  gap: 20px; 
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo .img {
  width: 100px;
  height: auto;
  transition: transform 0.5s ease-in-out; /* 添加平滑的旋转效果 */
}

.logo .img:hover {
  transform: rotate(360deg); /* 鼠标经过时旋转360度 */
}

.text-wrapper {
  text-shadow: 1px 1px 1px #00000040;
  background: linear-gradient(180deg, rgb(33, 152, 242) 0%, rgb(106, 14, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--h-primary-font-family);
  font-weight: var(--h-primary-font-weight);
  font-size: var(--h-primary-font-size);
}

.web-design {
  display: inline-flex;
  align-items: center;
  padding: 8px 0px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(44, 148, 234), rgb(99, 102, 242)) 1;
}

.div {
  margin-top: -3px;
  background: linear-gradient(180deg, rgb(33, 152, 242) 0%, rgb(106, 14, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--h-secondary-bold-font-family);
  font-weight: var(--h-secondary-bold-font-weight);
  font-size: var(--h-secondary-bold-font-size);
}

.img-2 {
  width: 45px;
  height: 45px;
  align-self: center; /* 确保图标垂直居中对齐 */
  display: block;
  margin-left: 10px; /* 与内容保持合适间距 */
  margin-top: 0px;
}

