:root {
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0.06400000095367432px;
  --body-line-height: normal;
  --body-font-style: normal;
  --small-font-family: "Inter", Helvetica;
  --small-font-weight: 300;
  --small-font-size: 12px;
  --small-letter-spacing: 0.04800000071525574px;
  --small-line-height: normal;
  --small-font-style: normal;
  --caption-font-family: "Inter", Helvetica;
  --caption-font-weight: 300;
  --caption-font-size: 14px;
  --caption-letter-spacing: 0.056000000834465026px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --body-bold-font-family: "Inter", Helvetica;
  --body-bold-font-weight: 600;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0.06400000095367432px;
  --body-bold-line-height: normal;
  --body-bold-font-style: normal;
  --h-secondary-font-family: "Inter", Helvetica;
  --h-secondary-font-weight: 400;
  --h-secondary-font-size: 16px;
  --h-secondary-letter-spacing: 0.06400000095367432px;
  --h-secondary-line-height: normal;
  --h-secondary-font-style: normal;
  --h-secondary-bold-font-family: "Inter", Helvetica;
  --h-secondary-bold-font-weight: 700;
  --h-secondary-bold-font-size: 20px;
  --h-secondary-bold-letter-spacing: 0.0800000011920929px;
  --h-secondary-bold-line-height: normal;
  --h-secondary-bold-font-style: normal;
  --h-primary-font-family: "Inter", Helvetica;
  --h-primary-font-weight: 700;
  --h-primary-font-size: 32px;
  --h-primary-letter-spacing: 0.12800000190734864px;
  --h-primary-line-height: normal;
  --h-primary-font-style: normal;
  --collection-1-brand-puple: rgba(106, 14, 255, 1);
  --collection-1-brand-puple-light: rgba(239, 229, 255, 1);
  --collection-1-brand-puple-dark: rgba(68, 0, 179, 1);
  --collection-1-neutral-grey100: rgba(255, 255, 255, 1);
  --collection-1-neutral-grey200: rgba(234, 234, 234, 1);
  --collection-1-neutral-grey300: rgba(191, 191, 191, 1);
  --collection-1-neutral-grey400: rgba(149, 149, 149, 1);
  --collection-1-neutral-grey500: rgba(106, 106, 106, 1);
  --collection-1-neutral-grey600: rgba(64, 64, 64, 1);
  --collection-1-neutral-grey700: rgba(21, 21, 21, 1);
}
